@keyframes glitter {
    0% {
        box-shadow: 0 0 5px #9FA8DA;
    }

    50% {
        box-shadow: 0 0 20px #7986CB;
    }

    100% {
        box-shadow: 0 0 5px #9FA8DA;
    }
}

.animate__animated {
    animation-duration: 300ms;
}

.animate__fadeIn {
    animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.upload-custom .p-fileupload-content {
    border: 2px dashed var(--surface-border);
    border-radius: 1rem;
    transition: border-color 0.2s;
}

.upload-custom .p-fileupload-content:hover {
    border-color: var(--primary-color);
}



.text-overlay {
    font-size: 0.875rem; /* Smaller text size */
    position: relative;
    z-index: 1;
}

.text-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
    border-radius: inherit;
}
