@keyframes glitter {
    0% {
        box-shadow: 0 0 5px #9FA8DA;
    }

    50% {
        box-shadow: 0 0 20px #7986CB;
    }

    100% {
        box-shadow: 0 0 5px #9FA8DA;
    }
}

.animate__animated {
    animation-duration: 300ms;
}

.animate__fadeIn {
    animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}




.upload-custom .p-fileupload-content {
    border: 2px dashed var(--surface-border);
    border-radius: 1rem;
    transition: border-color 0.2s;
}

.upload-custom .p-fileupload-content:hover {
    border-color: var(--primary-color);
}



.text-overlay {
    font-size: 0.875rem; /* Smaller text size */
    position: relative;
    z-index: 1;
}

.text-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
    border-radius: inherit;
}


@keyframes flowRight {
    0% {
      width: 0;
      opacity: 0;
    }
    50% {
      width: 3rem;
      opacity: 1;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }



/* last item styling */

  @keyframes glowingBorder {
    0% {
      border-color: #4338ca;
      box-shadow: 0 0 5px #4338ca;
    }
    33% {
      border-color: #3b82f6;
      box-shadow: 0 0 10px #3b82f6;
    }
    66% {
      border-color: #06b6d4;
      box-shadow: 0 0 10px #06b6d4;
    }
    100% {
      border-color: transparent;
      box-shadow: none;
    }
  }

  .animate-border {
    animation: glowingBorder 2s ease-out forwards;
  }


  /* sidebar and editableResume */

  .p-sidebar {
    background: var(--surface-0);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.p-sidebar-header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--surface-200);
}

.bg-gray-50 {
    background: #F8FAFC;
}

.p-button.p-button-outlined:not(.p-button-plain) {
    background: var(--surface-0);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all 0.2s;
}

.p-button.p-button-outlined:not(.p-button-plain):hover {
    background: var(--primary-color);
    color: var(--surface-0);
}
